/* not yet */

h1 {
    margin: 5vh;
    text-align: center;
}

body {
    background-image: linear-gradient(150deg, rgb(253, 220, 176), rgb(247, 200, 113));
}

#all{
    margin: 2vw;
}

/* us */
#USButton{
    margin-left: 12vw;
    margin-top: 10px;
}

.holiday {
    margin:5px;
}

.card1{
    border: 5px solid black;
}

#cardTitle{
    text-align: center;
    padding: 10px;
}

#subtitle{
    text-align: center;
    padding: 10px;
}

#text {
    text-align: center;
    padding: 20px;
}

/* mx */
#MXButton{
    margin-left: 12vw;
    margin-top: 10px;
}

.holiday2 {
    margin:5px;
}

.card2{
    border: 5px solid black;
}

#cardTitle2{
    text-align: center;
    padding: 10px;
}

#subtitle2{
    text-align: center;
    padding: 10px;
}

#text2 {
    text-align: center;
    padding: 20px;
}

/* au */
#AUButton{
    margin-left: 12vw;
    margin-top: 10px;
}

.holiday3 {
    margin:5px;
}

.card3{
    border: 5px solid black;
}

#cardTitle3{
    text-align: center;
    padding: 10px;
}

#subtitle3{
    text-align: center;
    padding: 10px;
}

#text3 {
    text-align: center;
    padding: 20px;
}

/* cn */
#CNButton{
    margin-left: 12vw;
    margin-top: 10px;
}

.holiday4 {
    margin:5px;
}

.card4{
    border: 5px solid black;
}

#cardTitle4{
    text-align: center;
    padding: 10px;
}

#subtitle4{
    text-align: center;
    padding: 10px;
}

#text4 {
    text-align: center;
    padding: 20px;
}

/* jp */
#JPButton{
    margin-left: 12vw;
    margin-top: 10px;
}

.holiday5 {
    margin:5px;
}

.card5{
    border: 5px solid black;
}

#cardTitle5{
    text-align: center;
    padding: 10px;
}

#subtitle5{
    text-align: center;
    padding: 10px;
}

#text5 {
    text-align: center;
    padding: 20px;
}

/* gt */
#GTButton{
    margin-left: 12vw;
    margin-top: 10px;
}

.holiday6 {
    margin:5px;
}

.card6{
    border: 5px solid black;
}

#cardTitle6{
    text-align: center;
    padding: 10px;
}

#subtitle6{
    text-align: center;
    padding: 10px;
}

#text6 {
    text-align: center;
    padding: 20px;
}
