/* not yet */

h1 {
    margin: 5vh;
    text-align: center;
    /* color:rgb(255, 214, 160) ; */
    background: -webkit-linear-gradient(rgb(255, 189, 170), rgb(255, 232, 170));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

body {
    background-image: linear-gradient(150deg, rgb(20, 60, 80), rgb(114, 145, 167));
}

/* us */
#USButton{
    font-size: 1.3vw;
    width:auto;
    margin-left: 6vw;
    background-color:rgb(114, 145, 167);
    border-color:rgb(72, 111, 139) ;
}

#USButton:hover{
    background-color: rgb(72, 111, 139) ;
    border-color:rgb(216, 168, 106) ;
}

.holiday {
    margin:5px;
    /* width: 40vw; */
}

.card1{
    border: 5px solid rgb(93, 53, 1);
    border-radius: 30px;
    background-color: rgb(255, 217, 168);
    margin: 4vw;
    /* border-color: rgb(216, 168, 106) ; */
}

#cardTitle{
    font-size: 1.2vw;
    font-family:cursive;
    text-align: center;
    padding: 10px;
}

#subtitle{
    font-size: 1vw;
    font-family:cursive;
    text-align: center;
    padding: 10px;
}

#text {
    font-size: 0.9vw;
    font-family:cursive;
    text-align: center;
    padding: 20px;
}

/* mx */
#MXButton{
    font-size: 1.3vw;
    width: auto;
    margin-left: 6vw;
    background-color:rgb(114, 145, 167);
    border-color:rgb(72, 111, 139) ;
}

#MXButton:hover{
    background-color: rgb(72, 111, 139) ;
    border-color:rgb(216, 168, 106) ;
}

.holiday2 {
    margin:5px;
}

.card2{
    border: 5px solid rgb(93, 53, 1);
    border-radius: 30px;
    background-color: rgb(255, 217, 168);
    margin: 4vw;
}

#cardTitle2{
    font-size: 1.2vw;
    font-family:cursive;
    text-align: center;
    padding: 10px;
}

#subtitle2{
    font-size: 1vw;
    font-family:cursive;
    text-align: center;
    padding: 10px;
}

#text2 {
    font-size: 0.9vw;
    font-family:cursive;
    text-align: center;
    padding: 20px;
}

/* au */
#AUButton{
    font-size: 1.3vw;
    width: auto;
    margin-left: 6vw;
    background-color:rgb(114, 145, 167);
    border-color:rgb(72, 111, 139) ;
}

#AUButton:hover{
    background-color: rgb(72, 111, 139) ;
    border-color:rgb(216, 168, 106) ;
}


.holiday3 {
    margin:5px;
}

.card3{
    border: 5px solid rgb(70, 39, 0);
    border-radius: 30px;
    background-color: rgb(255, 217, 168);
    margin: 4vw;
}

#cardTitle3{
    font-size: 1.2vw;
    font-family:cursive;
    text-align: center;
    padding: 10px;
}

#subtitle3{
    font-size: 1vw;
    font-family:cursive;
    text-align: center;
    padding: 10px;
}

#text3 {
    font-size: 0.9vw;
    font-family:cursive;
    text-align: center;
    padding: 20px;
}

/* cn */
#CNButton{
    font-size: 1.3vw;
    width: auto;
    margin-left: 6vw;
    background-color:rgb(114, 145, 167);
    border-color:rgb(72, 111, 139) ;
}

#CNButton:hover{
    background-color: rgb(72, 111, 139) ;
    border-color:rgb(216, 168, 106) ;
}


.holiday4 {
    margin:5px;
}

.card4{
    border: 5px solid rgb(93, 53, 1);
    border-radius: 30px;
    background-color: rgb(255, 217, 168);
    margin: 4vw;
}

#cardTitle4{
    font-size: 1.2vw;
    font-family:cursive;
    text-align: center;
    padding: 10px;
}

#subtitle4{
    font-size: 1vw;
    font-family:cursive;
    text-align: center;
    padding: 10px;
}

#text4 {
    font-size: 0.9vw;
    font-family:cursive;
    text-align: center;
    padding: 20px;
}

/* jp */
#JPButton{
    font-size: 1.3vw;
    width: auto;
    margin-left: 6vw;
    background-color:rgb(114, 145, 167);
    border-color:rgb(72, 111, 139) ;
}

#JPButton:hover{
    background-color: rgb(72, 111, 139) ;
    border-color:rgb(216, 168, 106) ;
}

.holiday5 {
    margin:5px;
}

.card5{
    border: 5px solid rgb(93, 53, 1);
    border-radius: 30px;
    background-color: rgb(255, 217, 168);
    margin: 4vw;
}

#cardTitle5{
    font-size: 1.2vw;
    font-family:cursive;
    text-align: center;
    padding: 10px;
}

#subtitle5{
    font-size: 1vw;
    font-family:cursive;
    text-align: center;
    padding: 10px;
}

#text5 {
    font-size: 0.9vw;
    font-family:cursive;
    text-align: center;
    padding: 20px;
}

/* gt */
#GTButton{
    font-size: 1.3vw;
    width: auto;
    margin-left: 6vw;
    background-color:rgb(114, 145, 167);
    border-color:rgb(72, 111, 139) ;
}

#GTButton:hover{
    background-color: rgb(72, 111, 139) ;
    border-color:rgb(216, 168, 106) ;
}

.holiday6 {
    margin:5px;
}

.card6{
    border: 5px solid rgb(93, 53, 1);
    border-radius: 30px;
    background-color: rgb(255, 217, 168);
    margin: 4vw;
}

#cardTitle6{
    font-size: 1.2vw;
    font-family:cursive;
    text-align: center;
    padding: 10px;
}

#subtitle6{
    font-size: 1vw;
    font-family:cursive;
    text-align: center;
    padding: 10px;
}

#text6 {
    font-size: 0.9vw;
    font-family:cursive;
    text-align: center;
    padding: 20px;
}

/* fr */
#FRButton{
    font-size: 1.3vw;
    width: auto;
    margin-left: 6vw;
    background-color:rgb(114, 145, 167);
    border-color:rgb(72, 111, 139) ;
}

#FRButton:hover{
    background-color: rgb(72, 111, 139) ;
    border-color:rgb(216, 168, 106) ;
}

.holiday7 {
    margin:5px;
}

.card7{
    border: 5px solid rgb(93, 53, 1);
    border-radius: 30px;
    background-color: rgb(255, 217, 168);
    margin: 4vw;
}

#cardTitle7{
    font-size: 1.2vw;
    font-family:cursive;
    text-align: center;
    padding: 10px;
}

#subtitle7{
    font-size: 1vw;
    font-family:cursive;
    text-align: center;
    padding: 10px;
}

#text7 {
    font-size: 0.9vw;
    font-family:cursive;
    text-align: center;
    padding: 20px;
}

/* il */
#ILButton{
    font-size: 1.3vw;
    width: auto;
    margin-left: 6vw;
    background-color:rgb(114, 145, 167);
    border-color:rgb(72, 111, 139) ;
}

#ILButton:hover{
    background-color: rgb(72, 111, 139) ;
    border-color:rgb(216, 168, 106) ;
}

.holiday8 {
    margin:5px;
}

.card8{
    border: 5px solid rgb(93, 53, 1);
    border-radius: 30px;
    background-color: rgb(255, 217, 168);
    margin: 4vw;
}

#cardTitle8{
    font-size: 1.2vw;
    font-family:cursive;
    text-align: center;
    padding: 10px;
}

#subtitle8{
    font-size: 1vw;
    font-family:cursive;
    text-align: center;
    padding: 10px;
}

#text8 {
    font-size: 0.9vw;
    font-family:cursive;
    text-align: center;
    padding: 20px;
}
